#!/bin/bash

# ====== INSTALLER CONFIGURATION ======

# Application name.
# Should match the main executable name of the app
APPNAME="haula"

# Default target directory where the application will be installed inside rootfs
# Can be set by the user with the parameter --destdir
DESTDIR_DFL="/opt/$APPNAME"

# Dwfault rootfs path (for .deb building, jails). 
# Can be set by the user with the parameter --rootdir
# Empty is equal to /
ROOTDIR_DFL=""

# List of files to be copied to the installation directory and its permissions
# Write one per line with format:
# filename:permissions
FILES_LIST=(
haula:775
haula-ctr:664
haula-mdl:664
haula-view:664
myjail_installer.sh:775
myjail_config.sh:775
myjail_createinst.sh:775
tools-bash.0.7.0:664
)


# ====== EXTRA ACTIONS ======

# This function will be executed after copying the files to the installation dir
EXTRA_ACTIONS()
{
  :
}
