#!/bin/bash

# ====== INSTALLER CONFIGURATION ======

# Application name.
# Should match the main executable name of the app
APPNAME="haula"

# Default target directory where the application will be installed inside rootfs
# Can be set by the user with the parameter --instdir
INSTDIR_DFL="/opt/$APPNAME"

# Default rootfs path (for .deb building, jails). 
# Can be set by the user with the parameter --rootdir
# Empty is equal to /
ROOTDIR_DFL="/"

# Default system binaries directory.
# Can be set by the user with the parameter --bindir
# Only needed if executable files are going to be installed.
# E.g. "/usr/bin"
BINDIR_DFL="/usr/bin"

# Default system libraries directory.
# Can be set by the user with the parameter --libdir
# Only needed if shared libraries are going to be installed.
# E.g. "/usr/lib"
LIBDIR_DFL="/usr/lib"

# Default system kernel modules directory.
# Can be set by the user with the parameter --kmoddir
# Only needed if kernel modules (.ko) are going to be installed
# KERNEL_RELEASE_DFL will be appended.
# E.g. "/lib/modules"
KMODDIR_DFL="/lib/modules"

# Default kernel release name.
# Can be set by the user with the parameter --krelease
# Only needed if kernel modules (.ko) are going to be installed
# Could be the same than obtained with `uname -r`. E.g. "4.4.0-89-lowlatency"
KRELEASE_DFL=""

# List of files to be copied to the installation directory and its permissions
# Write one per line with format:
#
# filename:permissions:symlinks_auto:symlinks_custom_list
#   - symlinks_auto: set to y or n (default: n)
#     Enable creation of a symlink to filename in an automatically deducted path
#     If filename has execution permissions, will be linked from /usr/bin
#     If filename is a shared library (.so), will be linked from /usr/lib
#   - symlinks_custom_list: is a comma-separated list of paths for custom 
#     symlinks that will be created pointing to the installed file, for example 
#     in /etc/myapp/filename
FILES_LIST=(
  haula:775:y:/tmp/prueba/haula
  haula-ctr:664::
  haula-mdl:664::
  haula-view:664::
  myjail_installer.sh:775::
  myjail_config.sh:775::
  myjail_createinst.sh:775::
  tools-bash.0.7.0:664::
)


# ====== CUSTOM ACTIONS ======

# This function will be executed prior copying the files to the installation dir
CUSTOM_ACTIONS_PREINSTALL()
{
  :
}

# This function will be executed prior removing the files from installation dir
CUSTOM_ACTIONS_PREUNINSTALL()
{
  :
}

# This function will be executed after copying the files to the installation dir
CUSTOM_ACTIONS_POSTINSTALL()
{
  :
}

# This function will be executed after removing the files from installation dir
CUSTOM_ACTIONS_POSTUNINSTALL()
{
  :
}

